*.py[co]
*.sw[po]
*.bak
*.orig
*~
*.sublime-workspace
*.sublime-project
.project
.pydevproject
shadowcon/.idea/workspace.xml 
venv
.coverage
generate_coverage.sh
htmlcov
.env
staticfiles
static
.idea
