.heavy {
fill:none;
stroke:white;
stroke-width:1px;
}

.light {
fill:none;
stroke:rgb(127,127,127);
stroke-width:0.5px;
}

.header {
fill:white;
}

.location {
fill:white;
}

.game_title {
fill:white;
}

.game {
fill:#462F1D;
stroke:rgb(200,200,200);
}