{% load tz %}
{% if is_registration_open %}
          <li><a href="{% url 'convention:register_attendance' %}">Register</a></li>
{% elif is_pre_reg_open %}
          <li><a href="{% url 'convention:register_attendance' %}">Pre-register</a></li>
{% endif %}
          <li><a href="{% url 'convention:submit_game' %}">Submit Game</a></li>
{% if not is_registration_open %}
          <li id="registration_opens"><h3>Registration Opens:</h3>
            <ul><li>{{ open_date|safe }}</li></ul>
          </li>
{% endif %}
