{% extends "base.html" %}
{% load con_info %}
{% block title %}- {{ con_year }} Schedule{% endblock %}

{% block content %}
<h2>{{ con_year }} Schedule</h2>
{% for time_block, games in object_list.items %}
<table border="1" width="100%">
  <tr><th colspan="4" align="left">{{ time_block }}</th></tr>
  {% for game in games %}
  <tr>
    <td><a href="{% url 'con:games_list' %}#{{ game.header_target }}">{{ game.title }}</a></td>
    <td>{{ game.combined_time }}</td>
    <td>{{ game.number_players }}</td>
    <td>{{ game.gm }}</td>
  </tr>
  {% endfor %}
</table>
<br />
{% endfor %}
{% endblock %}
