{% extends "base.html" %}
{% load staticfiles %}
{% block title %} - Register{% endblock %}

{% block additional_header %}
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static 'con/choice.css' %}" />
<script>
    $(function() {
      $( ".radio" ).buttonset();
    });/**/
  </script>
{% endblock %}

{% block content %}
{% if form.registration %}
<h2>Updating Registration for {{ form.user_friendly }}</h2>
Original Registration Date: {{ form.registration_str  }}
{% else %}
<h2>Initial Registration for {{ form.user_friendly }}</h2>
{% endif %}
<form action="." method="POST">
  {% csrf_token %}
  {{ form.media }}
  {{ form.non_field_errors }}
  <table>
    {% for k,v in form.time_block_fields.iteritems %}
    <tr class="radio">
      <td class="header">{{ v.label }}</td>
      {% for choice in v.choices %}
      <td>
        <input type="radio"
               id="{{ k }}{{ choice.0 }}"
               name="{{ k }}"
               value="{{ choice.0 }}"
               {% if v.initial == choice.0 %}checked />{% else %}/>{% endif %}
        <label for="{{ k }}{{ choice.0 }}">{{ choice.1 }}</label>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <input class="submit" type="submit" value="Submit Registration">
</form>
{% endblock %}
