{% extends "base.html" %}
{% load con_info %}
{% load games %}
{% load user %}
{% load staticfiles %}
{% block title %}- Account Profile{% endblock %}

{% block additional_header %}
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="{% static 'con/profile.css' %}" />
  <script>
    $(function() {
      $( "#accordion" ).accordion( {
        heightStyle: "content"
      });
    });
  </script>
{% endblock %}

{% block content %}
<h2>{{ name }} Account Profile</h2>
{% user_attendance request.user %}
<br />
{% if payment %}
Payment Method: {{ payment }}<br />
Payment Received: {{ payment_received|yesno }}<br />
<br />
<br />
{% endif %}
{% if is_registration_open %}
<a href="{% url 'con:register_attendance' %}">Change Registration</a><br />
{% elif is_pre_reg_open %}
<a href="{% url 'con:register_attendance' %}">Change Pre-registration</a><br />
{% endif %}
{% if is_registration_open or is_pre_reg_open %}
{% if payment and not payment_received %}
<a href="{% url 'con:payment' %}">Payment Options</a><br />
{% endif %}
<br />
{% endif %}
{% show_user_games request.user %}
{% endblock %}
