<!DOCTYPE html>
{% load staticfiles %}
{% load con_info %}
{% load user %}
<html>
<head>
  <!--<meta http-equiv="refresh" content="3" /> <!-- For Debugging -->
  <title>ShadowCon {% con_year %} {% block title %}{% endblock %}</title>
  <meta name="author" content="Adrian Barnes"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
  <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous"></script>
  {% block additional_header %}{% endblock %}
</head>

<body>

<div id="container-fluid">
  <div class="row">
    <div id="head_and_nav">
      <div class="col-lg-12">
        <header>
          <h1>ShadowCon</h1>
          <p>{% con_date %}<br>
            {% con_location %}</p>
        </header>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Games</a>
              <ul>
                <li><a href="{% url 'con:show_schedule' %}">Schedule</a></li>
                <li><a href="{% url 'con:games_list' %}">Description</a></li>
                <li><a href="{% url 'con:user_profile' %}">Edit Submissions</a></li>
                {% edit_schedule_link request.user %}
              </ul>
            </li>
            <li><a href="#">Site</a>
              <ul>
                <li><a href="{% url 'page:display' 'site/directions' %}">Directions</a></li>
                <li><a href="{% url 'page:display' 'site/rules' %}">Rules</a></li>
                <li><a href="{% url 'page:display' 'site/amenities' %}">Amenities</a></li>
              </ul>
            </li>
            {% if user.is_authenticated %}
            <li><a href="#">Account</a>
              <ul>
                <li><a href="{% url 'con:user_profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% admin_link request.user %}
              </ul>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}?next={% block login-next %}{{ request.get_full_path }}{% endblock %}">Login</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <section id="main" role="main">
        {% block content %}<h1>Content goes here</h1>{% endblock %}
      </section>
    </div>
    <div class="col-sm-3">
      <aside>
        <ul>
          {% register_links %}
          <li id="deadlines">
            <h3>Deadlines:</h3>
            <ul>
              <li>Pre-Registration:<br/>
                <ul>
                  <li>{% con_pre_reg_deadline %}</li>
                </ul>
              </li>
              <li>Game Submission:<br/>
                <ul>
                  <li>{% con_game_sub_deadline %}</li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="costs">
            <h3>Cost:</h3>
            <ul>
              <li>Pre-Registered: {% con_pre_reg_cost %}</li>
              <li>At the door: {% con_door_cost %}</li>
            </ul>
          </li>
        </ul>
      </aside>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <footer>
        <a href="{% url 'contact:contact' %}">Contact Us</a>
      </footer>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    /* Links with # represent popup menus.  Since mobile can only activate by clicking, we don't
       want to navigate to the top of the page when they click. */
    $("nav a[href='#']").click(function() { return false; });

    /* If the user clicks on a popup menu, and then moves the mouse away the menu disappears.
       However, the header link remains bold until the user clicks elsewhere. Blur causes
       the headre to lose focus and return to normal. */
    $("nav li:has(ul)").each(function() {
      $(this).hover(function() {}, function() {
        $(this).find("a[href='#']").blur();
      });
    });
  });
</script>
</body>
</html>
