{% extends "base.html" %}
{% load con_info %}
{% load games %}
{% load staticfiles %}
{% block title %}- Schedule{% endblock %}

{% block additional_header %}
<link rel="stylesheet" href="{% static 'convention/schedule.css' %}" />
<script src="{% static 'js/jquery-svg/jquery.svg.js' %}"></script>
<script src="{% static 'convention/schedule.js' %}"></script>
<script src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
<script>
  $(document).ready(function() {
    registerSchedule("#schedule", '{% url 'convention:ajax_location_schedule_view' %}');
  });
</script>
{% endblock %}

{% block content %}
<h2>{% con_year %} Schedule</h2>
{% if object_list.in_games %}
  <h3>Games You're In</h3>
  <table class="schedule" border="1">
    <tr><th>Time</th><th>Game</th><th>GM</th><th>Players</th></tr>
    {% for gamedata in object_list.user_games %}
    <tr>
      <td>{{ gamedata.game.combined_time }}</td>
      <td>{{ gamedata.game.title }}</td>
      <td>{{ gamedata.game.gm }}</td>
      <td>
        {% for player in gamedata.players %}
          {% if player.first_name or player.last_name %}
            {{ player.first_name }} {{ player.last_name }}<br>
          {% else %}
            {{ player }}
          {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% endif %}
<br />
<br />
<br />
<div id="schedule"></div>
<br />
<br />
<br />
<table id="{{ time_block }}" class="schedule" border="1">
{% for time_block, games in object_list.by_time_block.items %}
  <tr><th colspan="4" align="left">{{ time_block }}</th></tr>
  {% for game in games %}
  <tr>
    <td><a href="{% url 'convention:games_list' %}#{{ game.header_target }}">{{ game.title }}</a></td>
    <td>{{ game.combined_time }}</td>
    <td>{{ game.number_players }}</td>
    <td>{{ game.gm }}</td>
  </tr>
  {% endfor %}
{% endfor %}
</table>
{% endblock %}
