{% extends 'base.html' %}

{% block login-next %}{% url 'con:user_profile' %}{% endblock %}

{% block content %}
<h2>Enter new password</h2>
{% if validlink %}
  Please enter your new password twice so we can verify you typed it in correctly.
  <form action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change my password">
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% else %}
  <p>The password reset link was invalid, possibly because it has already been used.
     Please request a new password reset.</p>
{% endif %}
{% endblock %}
